<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
    <link rel="stylesheet" href="style1.css" />
</head>
<body>
    <div class="parent">
        <div class="div-login"><h3>Login</h3></div>
        <div class="div-content">
            <p>Email</p>

            <input type="text", placeholder="Type your email", size="40"/>

            <p>Password</p>

            <input type="password", placeholder="Type your password", size="40" />
        </div>
        <br />
        <br />
        <div class="div-btn">log in</div>
    </div>
</body>
</html>